.game {
  margin: 3em 0 0 0;
  height: 60em;
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
  margin: 2em;
}
.cardsgrid {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 1em;
}
